
  .israel-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-01.jpg);
  }
  
  .israel-preview1 {
    background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
  }
  
  .israel-preview2 {
    background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
  }
  
  .israel-preview3 {
    background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
  }
  
  .usa-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
  }
  
  .usa-preview1 {
    background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
  }
  
  .usa-preview2 {
    background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
  }
  
  .usa-preview3 {
    background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
  }
  
  .australia-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
  }
  
  .australia-preview1 {
    background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
  }
  
  .australia-preview2 {
    background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
  }
  
  .australia-preview3 {
    background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
  }
  
  .nz-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-04.jpg);
  }
  
  .nz-preview1 {
    background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
  }
  
  .nz-preview2 {
    background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
  }
  
  .nz-preview3 {
    background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
  }
  
  .france-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-05.jpg);
  }
  
  .france-preview1 {
    background-image: url(../images/tour/tour-france/france-tour-01.jpg);
  }
  
  .france-preview2 {
    background-image: url(../images/tour/tour-france/france-tour-02.jpg);
  }
  
  .france-preview3 {
    background-image: url(../images/tour/tour-france/france-tour-03.jpg);
  }
  
  .egypt-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-06.jpg);
  }
  
  .egypt-preview1 {
    background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
  }
  
  .egypt-preview2 {
    background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
  }
  
  .egypt-preview3 {
    background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
  }
  
  .japan-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-07.jpg);
  }
  
  .japan-preview1 {
    background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
  }
  
  .japan-preview2 {
    background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
  }
  
  .japan-preview3 {
    background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
  }
  
  .canada-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-08.jpg);
  }
  
  .canada-preview1 {
    background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
  }
  
  .canada-preview2 {
    background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
  }
  
  .canada-preview3 {
    background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
  }
  
  .uae-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-09.jpg);
  }
  
  .uae-preview1 {
    background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
  }
  
  .uae-preview2 {
    background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
  }
  
  .uae-preview3 {
    background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
  }