
.promo-tours {
    max-width: 818px;
    min-height: 304px;
    margin: -50px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
  .promo-tours .promo {
    padding: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 304px;
    width: 236px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .promo-tours .country {
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;
  }
  .promo-tours button {
    margin-top: 57px;
    height: 40px;
    width: 133px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  .promo-books{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo-tours  .tour1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/to-kill-a-mockingbird.jpg);
  }
  .promo-tours .tour2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/becoming.jpg);
  }
  .promo-tours .tour3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/firestarter.jpg);
  }
  
 