.tours-hero {
    margin: 50px auto;
    max-width: 980px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tours-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .tours-hero p {
    color: #fff;
    font-size: 60px;
    font-family: Proxima;
  }
  
  .tours {
    margin: 50px auto;
    max-width: 818px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
  }
  .tours .promo {
    padding: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 304px;
    width: 236px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: Proxima;
    overflow: hidden;
    white-space: nowrap;
  }
  .tours .promo .country {
    font-size: 60px;
  }
  .tours .promo .price {
    font-size: 30px;
  }
  .tours .promo button {
    margin-top: 57px;
    height: 40px;
    width: 133px;
    border-radius: 50px;
    color: #fff;
    background-color: #79addc;
    border: none;
    font-family: Gill;
    font-weight: bold;
    font-size: 15px;
  }
  .tours .promo button a {
    text-decoration: none;
    color: #fff;
  }
  .tours .tour1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/becoming.jpg);
  }
  .tours .tour2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
  }
  .tours .tour3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
  }
  .tours .tour4 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-04.jpg);
  }
  .tours .tour5 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-05.jpg);
  }
  .tours .tour6 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-06.jpg);
  }
  .tours .tour7 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-07.jpg);
  }
  .tours .tour8 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-08.jpg);
  }
  .tours .tour9 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-09.jpg);
  }
  .tour-container {
    margin: 0 auto;
    max-width: 980px;
  }
  .tour-container .tour-hero {
    width: 100%;
    height: 413px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px auto auto auto;
    position: relative;
  }
  .tour-container .tour-hero .tour-header {
    color: #fff;
    padding-left: 30px;
    padding-top: 18px;
    font-size: 60px;
    font-family: Proxima;
  }
  .tour-container .tour-hero .tour-price {
    color: #fff;
    font-size: 30px;
    font-family: Proxima;
  }
  .tour-container .tour-hero .tour-price p {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .tour-container .preview-images {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .tour-container .preview-images .preview {
    width: 298px;
    height: 347px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .tour-container .days {
    max-width: 980px;
    margin-top: 30px;
  }
  .tour-container .days .day {
    margin-bottom: 70px;
  }
  .tour-container .days .day .day-heading {
    font-family: Proxima;
    font-size: 60px;
  }
  .tour-container .days .day hr {
    background-color: black;
    height: 3px;
    width: 130px;
    margin-top: -22px;
    margin-bottom: 30px;
  }
  .tour-container .days .day .day-text {
    font-family: Gill;
    font-size: 16px;
  }
  .tour-container .tour-book-button {
    display: flex;
    justify-content: center;
  }
  .tour-container .tour-book-button .tour-book {
    background-color: #79addc;
    text-align: center;
    color: #fff;
    font-family: Gill;
    font-size: 15px;
    width: 133px;
    height: 40px;
    border-radius: 50px;
    border: none;
  }