.bottom{
    position: relative;
    //text-align: center;
    background-color: rgba(181, 119, 229, 0.71);
    padding:15px;
    margin: 12px;
    
    .title{
        font-weight: 750;
        position: relative;
        text-align: left;
        background-color: rgba(181, 119, 229, 0.855);
        padding:5px;
        margin: 0px;
    
    }
    .stuff{
        display: flex;
        //width: 75%;
        padding: 15px;
        
        img{
            padding-right: 20PX;
            width: 500px;
            height: 450px;
        }
    }
    
   
}