.talk{
    position: relative;
    //text-align: center;
    background-color: rgba(229, 209, 119, 0.71);
    padding:15px;
    margin: 12px;
   
    .title{
        font-weight: 750;
        position: relative;
        text-align: center;
        background-color: rgba(229, 209, 119, 0.855);
        padding:5px;
        margin: 0px;
       
    
    }
    .stuff{
        //display: flex;
        //width: 75%;
        padding: 15px;
        
        column-count: 2;
        column-gap: 40px;
    }

    .things{
        padding: 15px;
    }
    .search{
        display: block;        
        padding: 6px;
        border: none;
        width: 25%;
        margin-top: 8px;
        margin-right: auto;
        margin-left: auto;
        font-size: 17px;
    }
   
}